html {
    text-align: center;
    margin: 0px auto;
    width: 90%;
    font-family: 'Domine', serif;
}

header {
    height: 15vh;
    background-color: slateblue;
    color: lightgrey
}

header h1 {
    padding-top: 5vh;
}
main {
    background-color: burlywood;
    color: black;
}

img {
    width: 25vw;
    height: 30vh;
    border: .5em solid grey;
}

#password {
    margin-top: 9vh;
    border: .2em solid black;
    border-radius: 10px;
    height: 5vh;
}

#passButton {
    margin-top: 9vh;
    border: .2em solid black;
    border-radius: 10px;
    height: 5vh;
}